.uppernavbarone {
  display: flex;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  background-color: whitesmoke;
}

.uppernavbarone a {
  text-decoration: none;
  color: black;
  font-size: large;
  padding: 5px;
}

.learn_to_code {
  padding-left: 330px;
  background-color: black;
  color: white;
  height: 500px;
  display: grid;
  margin-top: 2 0px;
  grid-template-columns: repeat(1, minmax(70px, auto));
  grid-template-rows: repeat(1, minmax(10px, auto));
}
.learn_to_code h1 {
  margin: 0px 0 -20px 0;
  padding-top: 80px;
  font-size: 56px;
}

.tutortials:hover {
  cursor: pointer;
}
.tutorials:active {
  background-color: green;
}
.tutorials-div {
  height: 700px;
  background-color: black;
  color: white;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, auto));
  grid-template-rows: repeat(1, minmax(1fr, auto));
  padding: 70px;
  grid-column-gap: 40px;
  color: yellow;
}
.tutorials-div select {
  border-radius: 40px;
  width: 282px;
  height: 44px;
}
.cross:hover {
  cursor: pointer;
}
.under-tutorials {
  padding-top: 30px;
  font-size: 15px;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 10px;
}
.under-tutorials1 {
  padding-top: 30px;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 10px;
  color: wheat;
  grid-column-start: 2;
  z-index: 1;
}
.under_tutorials_span {
  font-size: smaller;
  color: yellow;
  padding: 10px;
}
.Third_div {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(70px, auto));
  align-content: center;
  grid-gap: 100px;
  padding-top: 40px;
  height: 800px;
}
@media screen and (max-width: 768px) {
  .Third_div {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto, 1fr));
  }
  .Third_div_second_div {
    grid-column: span 4;
    padding-left: 50px;
  }
}
.php_div {
  display: grid;
  grid-template-columns: repeat(2, minmax(70px, auto));
  grid-template-rows: repeat(3, minmax(70px, auto));
  background-color: black;
}
.php_div_commonClass {
  width: 500px;
  height: auto;
  margin: 50px;
  padding: 40px;
  padding-left: 100px;
  background-color: #ffc0c7;
}
.social_media {
  width: 50%;
  height: 150px;
  margin-left: 500px;
  margin-top: 70px;
}
.footer_container {
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, auto-fit));
  grid-template-rows: repeat(auto-fit, minmax(30px, 20px));
  grid-gap: 10px;
}
.footer_container_top_tutorials {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(auto-fit, 1fr));
  grid-column: 1/1;
  padding-left: 40px;
}
.footer_container_top_tutorials_links {
  text-decoration: none;
  color: black;
}
.html_wrapper_page {
  display: grid;
  grid-template-columns: repeat(5, minmax(1fr, auto-fit));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
}
.side_bar_contents {
  width: 170px;
  height: 580px;
  background-color: whitesmoke;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, auto-fit));
  grid-template-rows: repeat(auto-fit, minmax(10px, auto-fit));
  grid-row-start: 1;
  overflow: auto;
  position: fixed;
}
.side_bar_contents a {
  text-decoration: none;
  color: black;
}

.html_details_page_header {
  width: 400px;
  height: auto;
  display: grid;
  margin-top: 90px;
  grid-template-columns: 1000px;
  grid-template-rows: repeat(1, minmax(10px, auto-fit));
  grid-column: 2/2;
  grid-column: span 2;
  padding-left: 190px;
}
.html_details_page_header > div  li{
  background-color:white;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  justify-content: center;
}
.html_details_page_header > div p{
  background-color:white;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .html_details_page_header {
    grid-template-columns: 1fr;
  }
}
.introduction.active{
  background-color: green;
  color: white;
}
.side_bar_contents a.active{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
}
div p{
  background-color:white;
  margin-top: 0px;
  padding: 20px;
  width: 100%;
  padding-left: 200px;
  font-size: 20px;
  justify-content: center;
}
