.uppernavbarone {
  display: flex;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  background-color: whitesmoke;
}

.uppernavbarone a {
  text-decoration: none;
  color: black;
  font-size: large;
  padding: 5px;
}

.learn_to_code {
  padding-left: 330px;
  background-color: black;
  color: white;
  height: 500px;
  display: grid;
  margin-top: 2 0px;
  grid-template-columns: repeat(1, minmax(70px, auto));
  grid-template-rows: repeat(1, minmax(10px, auto));
}
.learn_to_code h1 {
  margin: 0px 0 -20px 0;
  padding-top: 80px;
  font-size: 56px;
}

.tutortials:hover {
  cursor: pointer;
}
.tutorials:active {
  background-color: green;
}
.tutorials-div {
  height: 700px;
  background-color: black;
  color: white;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, auto));
  grid-template-rows: repeat(1, minmax(1fr, auto));
  padding: 70px;
  grid-column-gap: 40px;
  color: yellow;
}
.tutorials-div select {
  border-radius: 40px;
  width: 282px;
  height: 44px;
}
.cross:hover {
  cursor: pointer;
}
.under-tutorials {
  padding-top: 30px;
  font-size: 15px;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 10px;
}
.under-tutorials1 {
  padding-top: 30px;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 10px;
  color: wheat;
  grid-column-start: 2;
  z-index: 1;
}
.under_tutorials_span {
  font-size: smaller;
  color: yellow;
  padding: 10px;
}
.Third_div {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(70px, auto));
  align-content: center;
  grid-gap: 100px;
  padding-top: 40px;
  height: 800px;
}
@media screen and (max-width: 768px) {
  .Third_div {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto, 1fr));
  }
  .Third_div_second_div {
    grid-column: span 4;
    padding-left: 50px;
  }
}
.php_div {
  display: grid;
  grid-template-columns: repeat(2, minmax(70px, auto));
  grid-template-rows: repeat(3, minmax(70px, auto));
  background-color: black;
}
.php_div_commonClass {
  width: 500px;
  height: auto;
  margin: 50px;
  padding: 40px;
  padding-left: 100px;
  background-color: #ffc0c7;
}
.social_media {
  width: 50%;
  height: 150px;
  margin-left: 500px;
  margin-top: 70px;
}
.footer_container {
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, auto-fit));
  grid-template-rows: repeat(auto-fit, minmax(30px, 20px));
  grid-gap: 10px;
}
.footer_container_top_tutorials {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(auto-fit, 1fr));
  grid-column: 1/1;
  padding-left: 40px;
}
.footer_container_top_tutorials_links {
  text-decoration: none;
  color: black;
}
.html_wrapper_page {
  display: grid;
  grid-template-columns: repeat(5, minmax(1fr, auto-fit));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
}
.side_bar_contents {
  width: 170px;
  height: 580px;
  background-color: whitesmoke;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, auto-fit));
  grid-template-rows: repeat(auto-fit, minmax(10px, auto-fit));
  grid-row-start: 1;
  overflow: auto;
  position: fixed;
}
.side_bar_contents a {
  text-decoration: none;
  color: black;
}

.html_details_page_header {
  width: 400px;
  height: auto;
  display: grid;
  margin-top: 90px;
  grid-template-columns: 1000px;
  grid-template-rows: repeat(1, minmax(10px, auto-fit));
  grid-column: 2/2;
  grid-column: span 2;
  padding-left: 190px;
}
.html_details_page_header > div  li{
  background-color:white;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  justify-content: center;
}
.html_details_page_header > div p{
  background-color:white;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .html_details_page_header {
    grid-template-columns: 1fr;
  }
}
.introduction.active{
  background-color: green;
  color: white;
}
.side_bar_contents a.active{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
}
div p{
  background-color:white;
  margin-top: 0px;
  padding: 20px;
  width: 100%;
  padding-left: 200px;
  font-size: 20px;
  justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*


section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#0f0,#000);
  animation: animate 5s linear infinite;
}

section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}


section .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
